<div class="flex flex-col mt-6 mb-6 rounded-2xl shadow-2xl">
	<div class="overflow-x-auto rounded-2xl shadow-2xl">
		<div class="inline-block min-w-full align-middle rounded-2xl shadow-2xl">
			<div class="overflow-hidden shadow-2xl sm:rounded-2xl">
				<table class="min-w-full divide-y divide-gray-200 light:divide-gray-600">
					<thead class="bg-gray-50 light:bg-gray-700">
						<tr>
							{% for key in data[0]|keys %}
								{% if key != "id" %}
									<th scope="col" class="p-4 text-xs font-medium tracking-wider text-left text-gray-500 uppercase light:text-white">
										{{ key|capitalize }}
									</th>
								{% endif %}
							{% endfor %}
							<th scope="col" class="p-4 text-xs font-medium tracking-wider text-right text-gray-500 uppercase light:text-white">
								Actions
							</th>
						</tr>
					</thead>
					<tbody class="bg-white light:bg-gray-800">
						{% for sale in data %}
							<tr>
								{% for key, value in sale %}
									{% if key != "id" %}
										<td class="px-6 py-4 whitespace-nowrap">
											<div class="text-sm text-gray-900 light:text-white">{{ value }}</div>
										{% endif %}
									{% endfor %}
									<td class="px-6 py-4 text-sm font-medium whitespace-nowrap">
										<div class="flex items-center justify-end space-x-4">
											<a href="/edit-url" class="text-indigo-600 hover:text-indigo-900 flex items-center space-x-1" role="button" aria-label="Edit item" title="Edit item">
												<i class="fas fa-edit px-2 py-1 text-sm text-white bg-indigo-600 rounded hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2" alt="Edit icon"></i>
												<span>Edit</span>
											</a>
											<a href="/delete-url" class="text-red-700 hover:text-red-500 transition duration-200 ease-in-out flex items-center space-x-1" role="button" aria-label="Delete item" title="Delete item">
												<i class="fas fa-trash-alt px-2 py-1 text-sm text-white bg-red-600 rounded hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-red-500 focus:ring-offset-2" alt="Delete icon"></i>
												<span>Delete</span>
											</a>
										</div>
									</td>
								</tr>
							{% endfor %}
						</tbody>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
