<div class="px-4 pt-6">
    <div class="grid gap-4 xl:grid-cols-2 2xl:grid-cols-3">
        <!-- Main widget -->
        {{ include('components/main_widget.twig'
        , {
            'currency': currency,
            'sales': sales,
            'growth': growth,
        }) }}

        <!--Tabs widget -->
        {{ include('components/tabs_widget.twig') }}

    </div>
    <div class="grid w-full grid-cols-1 gap-4 mt-4 xl:grid-cols-2 2xl:grid-cols-3">
        <!-- Cards -->
        {{ include('components/card.twig') }}
    </div>
    <!-- Table -->
    {{ include('components/table.twig') }}
</div>